<div class="top-bar py-2" style="color: #cccccc !important;">
    <div class="logo" style="min-width:0px;">
         <!--a href="#"><img src="images/ssv-logo.png" alt="Sunshine Village" style="width: 56%;"></a-->
         <div class="menu-options"><span class="menu-action"><i></i></span></div>
    </div>

    <div ng-controller="headerController" class="topbar-menu-custom"><h6 class="m-0"><a href="" class="logouta" ng-click="logout()"><i></i> {{"Log Out" | translate }}</a></h6></div>

    <div class="topbar-menu-custom hidden-xs"><h6 class="m-0"><span id="getday"></span><span class="colonsep"> : </span><span id="clock"></span><span class="colonsep"> : </span><span id="getdate"></span></h6></div>
    <div class="topbar-menu-custom hidden-xs"><h6 class="m-0" style="color: #cccccc !important;">Hi {{ fname }}, {{"Welcome back" | translate }}</h6></div>
  <!--
  <div class="topbar-menu-custom"><h5 style="color: #cccccc !important;"><span ng-click="changeLanguage('en')" class="cursor-pointer" ng-class="{'activeLanguage' :lang == 'en'}">EN</span> <span ng-click="changeLanguage('pt')" class="cursor-pointer" ng-class="{'activeLanguage' :lang == 'pt'}">PT</span></h5></div>
  -->
  <div class="topbar-menu-custom" ng-hide="true">
    <h6>
      <span class="flag_lang cursor-pointer flag flag-gb" ng-class="{'active_flag_lang' :lang == 'en'}" ng-click="changeLanguage('en')"></span>
      <span class="flag_lang cursor-pointer flag flag-br" ng-class="{'active_flag_lang' :lang == 'pt'}" ng-click="changeLanguage('pt')"></span>
    </h6>
  </div>
  <div ng-controller="headerController" ng-hide="true" class="topbar-menu-custom">
    <h6>
      <span class="flag_lang cursor-pointer flag flag-ph" ng-class="{'active_flag_lang' :lang == 'ph'}"></span>
    </h6>
  </div>
  
</div><!-- Top Bar -->

<header class="side-header light-skin opened-menu" onresize="myFunction()" id = "getHeaderHeight" style="width: 227.66px; top: 0px;">
    <div class="admin-details">
        <span style="float: none;"><img src="{{prof_pic}}" alt="" style="width: 121px; height: 121px; margin:auto; float: none; display: block; margin-top: 10px;" /></span> <!--{{prof_pic}}-->
        <center>
          <h3>{{ fname }} {{ lname }}</h3>
          <h6 style="color: #797d80;">{{ title1 }}</h6>
        </center>
    </div>
    <div class="menu-scroll" style="margin-top: 10px;">
        <div class="side-menus">
    			<nav>
    				<ul>
    					<li class="{{module.has_children}}" ng-repeat="module in modules">
    						<a ng-href="{{module.modules_url}}" title=""><i class="fa {{module.icon}}"></i> <span>{{module.modules_label | translate}}</span></a>
    						<ul>
    							<li ng-repeat="sub_module in sub_modules | filter: {modules_id: module.module_id, true}">
    								<a ng-href="{{sub_module.sub_modules_url}}" target="{{sub_module.sub_modules_url == 'epos' ? '_blank' : '_self'}}" title=""><i class="fa fa-circle"></i><span>{{sub_module.sub_modules_label | translate}}</span></a>
    							</li>
                            </ul>
    					</li>
    				</ul>
    			</nav>
        </div>
    </div><!-- Menu Scroll -->
</header>
<div class="main-content" style="padding: 45px 45px 0px 265px;" ng-controller="headerController"></div>

<script type="text/javascript">
    angular.element(document).ready(function(){
    
    "use strict";
    //***** Side Menu *****//
      $(".side-header").on("click", ".side-menus li.menu-item-has-children > a", function(){
		  $(this).parent().siblings().children("ul").slideUp();
          $(this).parent().siblings().removeClass("active");
          $(this).parent().children("ul").slideToggle();
          $(this).parent().toggleClass("active");
          return false;
      });

      //***** Side Menu Option *****//
      $(document).on("click", '.menu-options', function(){
        $(".side-header.opened-menu").toggleClass('slide-menu');
        $(".main-content").toggleClass('wide-content');
        $("footer").toggleClass('wide-footer');
        $(".menu-options").toggleClass('active');
        //$(".menu-options").css("margin-left", "220px");
        //$(".menu-options.active").css("margin-left", "0px");
      });

    /*** FIXED Menu APPEARS ON SCROLL DOWN ***/   
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
        if (scroll >= 10) {
        $(".side-header").addClass("sticky");
        }
        else{
        $(".side-header").removeClass("sticky");
        $(".side-header").addClass("");
        }
    }); 

    $(".side-menus nav > ul > li ul li > a").on("click", function(){
        $(".side-header").removeClass("slide-menu");
        $(".menu-options").removeClass("active");
    });

      //***** Quick Stats *****//
      $('.show-stats').on("click", function(){
        $(".toggle-content").addClass('active');
      });
     
       //***** Quick Stats *****//
      $('.toggle-content > span').on("click", function(){
        $(".toggle-content").removeClass('active');
      });

      //***** Quick Stats *****//
      $('.quick-links > ul > li > a, .quick-links > ul > li > .notif_button').on("click", function(){
        $(this).parent().siblings().find('.dialouge').fadeOut();

        if($(this).next('.dialouge').css("display") === "block"){ 
          $(this).next('.dialouge').fadeOut();
        } else {
          $(this).next('.dialouge').fadeIn();
        }
        return false;
      });

      $("html").on("click", function(){
        $(".dialouge").fadeOut();
      });
      // $(".quick-links > ul > li > a, .dialouge").on("click",function(e){
      //       e.stopPropagation();
      //   });
      
      //***** Toggle Full Screen *****//
      function goFullScreen() {
        var
            el = document.documentElement
          , rfs =
                 el.requestFullScreen
              || el.webkitRequestFullScreen
              || el.mozRequestFullScreen
              || el.msRequestFullscreen

      ;
      rfs.call(el);
      }
      $("#toolFullScreen").on("click",function() {
          goFullScreen();
      });

      //***** Side Menu *****//
      /*$(function(){
          $('.side-menus').slimScroll({
              height: '400px',
              wheelStep: 10,
              size: '2px'
          });
      });*/
      //***** Side Menu modified by reymark *****//
      $(function(){
        var ht = ($("#getHeaderHeight").height() - 272);
        var ht1 = ht+'px';
        $('.side-menus').slimScroll({
            height: ht1,
            wheelStep: 10,
            size: '5px',
            alwaysVisible: true,
            color: '#fff'
        });

        $(window).resize(function(){

          setTimeout(function() {
            ht = ($("#getHeaderHeight").height() - 272);
            ht1 = ht+'px';
            $('.side-menus').height(ht1);
            $('.menu-scroll .slimScrollDiv').height(ht1);
          }, 50);
        });

      });

      $(".data-attributes span").peity("donut");
});


var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    var n = weekday[d.getDay()];
    document.getElementById("getday").innerHTML = "{{ '"+n+"' | translate}}";

  var dd = d.getDate();
  var mm = d.getMonth()+1; //January is 0!
  var yyyy = d.getFullYear();
  if(dd<10){
      dd='0'+dd;
  } 
  if(mm<10){
      mm='0'+mm;
  } 
  var today = dd+'/'+mm+'/'+yyyy;
  document.getElementById("getdate").innerHTML = today;


var updateClock = function() {
    function pad(n) {
        return (n < 10) ? '0' + n : n;
    }

    var now = new Date();
    var s = pad(now.getHours()) + ':' +
            pad(now.getMinutes());
            /*
               + ':' +
            pad(now.getSeconds());
            */
    $('#clock').html(s);
    var delay = 1000 - (now % 1000);
    setTimeout(updateClock, delay);
};

window.onload=updateClock();




</script>